<meta name="google-site-verification" content="pQEYOvcrR2fNT-pj1YKR1c8C58B0f_qUhn41XgccSNI">
<meta property="fb:app_id" content="255331581589845">
<meta property="og:title" content="Barmej">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.barmej.com/?fb=1"/>
<meta property="og:image" content="http://www.barmej.com/assets/images/meta/barmej_1200x630.png">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:description" content="تعلم البرمجة بالعربية">
<meta property="og:site_name" content="Barmej.com">
<meta property="og:locale" content="ar_KW">