<section class="ph3 ph6-ns pv4 pv6-ns tc cf">
  <h3 class="section-title f3 f2-ns lh-copy fw6 ttu orange">L'entreprise</h3>
  <div class="fl w-100 cover bg-about z-5" data-flickity='{ "prevNextButtons": false }'>
    <div class="carousel-cell w-100">
      <div class="fl w-30 pa4">
        <img class="z-1" src="/assets/images/home/amenagement-bureau-a-propos.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-70 tl">
        <h3 class="section-title f3 f2-ns lh-copy fw6 ttu dark-gray">Qui sommes-nous?</h3>
        <p class="f5 fw2 lh-copy">
          Depuis sa création en 2010, <span class="orange fw6 ttu">espacio</span> assure l’accompagne­ment et la concrétisation de vos projets d’aménagement, quel que soit l’am­pleur des chantiers.<br>
          De la définition de vos beso­ins, du choix des matériaux, à l’installation complète et dé­finitive de vos collaborateurs dans vos nouveaux espaces, nous sommes présents à tous les niveaux de vos projets et vous offrons des solutions clés en main de haute perfor­mance, clairement définies et quantifiées.<br>
          Aussi nous mettons à votre dispositions des architectes, designers, et chefs de projet qualifiés, nous disposons également d’équipes de production spécialisée dans l’aluminium et le bois afin de garantir la qualité et la con­formité des livrables.<br>
          <span class="orange fw6">Notre objectif est de vous offrir un service complet clés en main, afin de mener à bien vos projets dans leur globalité.</span>
        </p>
      </div>
    </div>
    <div class="carousel-cell w-100">
      <div class="fl w-30 pa4">
        <img src="/assets/images/home/amenagement-bureau-philo.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-70 tl">
        <h3 class="section-title f3 f2-ns lh-copy fw6 ttu dark-gray">Notre philosophie</h3>
        <p class="f5 fw2 lh-copy">
          Notre philosophie est basée sur un style de management participatif et une grande confiance vis-à vis de nos collaborateurs.
        </p>
        <p class="f5 fw6 lh-copy orange">
          Notre démarche s’inscrit dans une logique d’innovation, de transparence et de traçabilité incluant :
        </p>
        <ul class="f5 gray lh-title">
          <li>Une offre globale clé en main de la conception à la réalisation des aménagements</li>
          <li>La garantie d’un space planning efficace et pertinent conforme aux besoins du client</li>
          <li>Un chiffrage rigoureux et rapide</li>
          <li>Un interlocuteur et une facture unique pour une gestion de projet simplifiée</li>
          <li>Des risques financiers juridiques couverts</li>
        </ul>
        <p class="f5 fw2 lh-copy">
          Des travaux en mode <span class="i">contractant général</span>: Un engagement contractuel sur un devis, un délai, une qualité de prestation
        </p>
        <p class="f5 fw2 lh-copy">
          La <span class="fw6 orange">responsabilité sociale</span> est considérée chez nous comme un élément essentiel pour le succès de la société.
        </p>
      </div>
    </div>
    <div class="carousel-cell w-100">
      <div class="fl w-30 pa4">
        <img src="/assets/images/home/amenagement-bureau-temoignage.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-70 tl">
        <h3 class="section-title f3 f2-ns lh-copy fw6 ttu dark-gray">Nos témoignages</h3>
        <p class="f5 fw2 lh-copy">
          « <span class="fw6 orange">Expertise et professionnalisme</span>, telles sont les caractéristiques propres à ESPACIO! Nous ne pouvons être que totalement <span class="fw6 orange">satisfaits</span>! » <span class="fw6">Marouane B.</span><br>
          « ESPACIO a réussi à joindre <span class="fw6 orange">l’utile à l’agréable</span>. Nous nous sentons comme chez nous! » <span class="fw6">Chama H.</span><br>
          « Grace à vous nos collaborateurs travaillent maintenant dans un <span class="fw6 orange">confort idéal</span> qui leur procure une meilleure motivation pour atteindre les objectifs. » <span class="fw6">Nadia El.</span><br>
          « ESPACIO a su respecter ses engagements. <span class="fw6 orange">Promesses faites, promesses tenues!</span> Début des travaux au moment convenu, <span class="fw6 orange">délais respectés</span>, bon rapport qualité prix. » <span class="fw6">Maria B.</span><br>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="fl w-100">
  <img class="bb b--black" src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489657889/entreprise_npmynh.png">
</div>