<section class="ph3 ph6-ns pv4 pv6-ns tc cf">
  <div class="fl w-100 cover bg-about" data-flickity='{ "prevNextButtons": false }'>
    <div class="carousel-cell w-100">
      <div class="fl w-40">
        <img src="/assets/images/home/amenagement-bureau-a-propos.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-60">
        <h3 class="section-title f3 f2-ns lh-copy fw2 ttu">Qui sommes-nous?</h3>
        <p class="f5 fw2 lh-copy">
          Depuis sa création en 2010, ESPACIO assure l’accompagne­ment et la concrétisation de vos projets d’aménagement, quel que soit l’am­pleur des chantiers.<br>
          De la définition de vos beso­ins, du choix des matériaux, à l’installation complète et dé­finitive de vos collaborateurs dans vos nouveaux espaces, nous sommes présents à tous les niveaux de vos projets et vous offrons des solutions clés en main de haute perfor­mance, clairement définies et quantifiées.<br>
          Aussi nous mettons à votre dispositions des architectes, designers, et chefs de projet qualifiés, nous disposons également d’équipes de production spécialisée dans l’aluminium et le bois afin de garantir la qualité et la con­formité des livrables.<br>
          Notre objectif est de vous offrir un service complet clés en main, afin de mener à bien vos projets dans leur globalité.
        </p>
      </div>
    </div>
    <div class="carousel-cell w-100">
      <div class="fl w-40">
        <img src="/assets/images/home/amenagement-bureau-philo.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-60">
        <h3 class="section-title f3 f2-ns lh-copy fw2 ttu">Notre philosophie</h3>
        <p class="f5 fw2 lh-copy">
          Notre philosophie est basée sur un style de management participatif et une grande confiance vis-à vis de nos collaborateurs.
        </p>
        <p class="f5 fw2 lh-copy orange">
          Notre démarche s’inscrit dans une logique d’innovation, de transparence et de traçabilité incluant :
        </p>
        <ul>
          <li>Une offre globale clé en main de la conception à la réalisation des aménagements</li>
          <li>La garantie d’un space planning efficace et pertinent conforme aux besoins du client</li>
          <li>Un chiffrage rigoureux et rapide</li>
          <li>Un interlocuteur et une facture unique pour une gestion de projet simplifiée</li>
          <li>Des risques financiers juridiques couverts</li>
        </ul>
        <p class="f5 fw2 lh-copy">
          Des travaux en mode contractant général : Un engagement contractuel sur un devis, un délai, une qualité de prestation
        </p>
        <p class="f5 fw2 lh-copy">
          La <span class="orange">responsabilité sociale</span> est considérée chez nous comme un élément essentiel pour le succès de la société.
        </p>
      </div>
    </div>
    <div class="carousel-cell w-100">
      <div class="fl w-40">
        <img src="/assets/images/home/amenagement-bureau-philo.png" alt="amenagement bureau casablanca">
      </div>
      <div class="fl w-60">
        <h3 class="section-title f3 f2-ns lh-copy fw2 ttu">Nos témoignages</h3>
        <p class="f5 fw2 lh-copy">
          « Expertise et professionnalisme, telles sont les caractéristiques propres à ESPACIO! Nous ne pouvons être que totalement satisfaits! » Marouane B.<br>
          « ESPACIO a réussi à joindre l’utile à l’agréable. Nous nous sentons comme chez nous! » Chama H.<br>
          « Grace à vous nos collaborateurs travaillent maintenant dans un confort idéal qui leur procure une meilleure motivation pour atteindre les objectifs. » Nadia El.<br>
          « ESPACIO a su respecter ses engagements. Promesses faites, promesses tenues! Début des travaux au moment convenu, délais respectés, bon rapport qualité prix. » Maria B.<br>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="fl w-100">
  <img class="bb b--black" src="http://espaciomaroc.ma/wp-content/themes/Espacio/img/entreprise.png">
</div>