<section class="ph3 ph6-ns pv4 pv6-ns tc cf">
<div class="fl w-100">
    <h3 class="section-title f3 f2-ns lh-copy fw2">CONTACT</h3>

    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-50-ns pa2">
          <div class="bg-white pv4">
            <div class="measure">
                  <h2 class="f3">ESPACIO SARL</h2>
                  <p>
                    <span class="">Adresse: </span>
                    10 Rue Moussa Ibn Noussair 3ème étage Bureau n°5, 20060 Casablanca, Maroc                            </p>
                  <p>
                    <span class="">TÉL: </span>
                    <a href="tel:++212522475850">+212 (0) 5 22 47 58 50</a>
                  </p>
                  <p>
                    <span class="">FAX: </span>+212 (0) 5 22 47 58 51
                  </p>
                  <p>
                    <span class="">E-mail: </span>
                    <a href="mailto:contact@espaciomaroc.ma">contact@espaciomaroc.ma</a>
                  </p>
                <ul>
                  <aside class="">

                      <div role="form" class="pa4 black-80" lang="fr-FR" dir="ltr">

                        <form action="/" method="post" class="" novalidate="novalidate">

                          <div class="measure">
                              <span class="normal black-60">
                                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="nom" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Nom (Obligatoire)">
                              </span>
                          </div>

                          <div class="measure">
                              <span class="normal black-60">
                                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" name="email" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Email (Obligatoire)">
                              </span>
                          </div>

                          <div class="measure">
                              <span class="normal black-60">
                                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="sujet" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Sujet (Obligatoire)">
                              </span>
                          </div>

                          <div class="measure">
                              <span class="normal black-60">
                                <textarea class="input-reset ba b--black-20 pa2 mb2 db w-100" name="message" cols="40" rows="10" class="" aria-invalid="false" placeholder="Votre Message"></textarea>
                              </span>
                          </div>

                          <p>
                            <input type="submit" value="Envoyer" class="">
                          </p>

                        </form>
                      </div>

                  </aside>
                </ul>
              </div>
          </div>
        </div>
        <div class="fl w-100 w-50-ns pa2">
          <div class="bg-white pv4">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAK8y19cifRGiVtcU862_ioNZ8N3JITHyY&zoom=17&center=33.5879%2C-7.6305" allowfullscreen></iframe>          </div>
        </div>
      </div>
    </div>



  </div>
  <div>
  </div>
</section>
