<section class="ph3 ph6-ns pv4 pv6-ns tc cf">
<div class="fl w-100">
    <h3 class="section-title f3 f2-ns lh-copy fw2">CONTACT</h3>
    <div class="measure">
            <h2 class="f3">ESPACIO SARL</h2>
            <p>
              <span class="">Adresse: </span>
              10 Rue Moussa Ibn Noussair 3ème étage Bureau n°5, 20060 Casablanca, Maroc                            </p>
            <p>
              <span class="">TÉL: </span>
              <a href="tel:++212522475850">+212 (0) 5 22 47 58 50</a>
            </p>
            <p>
              <span class="">FAX: </span>+212 (0) 5 22 47 58 51
            </p>
            <p>
              <span class="">E-mail: </span>
              <a href="mailto:contact@espaciomaroc.ma">contact@espaciomaroc.ma</a>
            </p>
        <div>
          <ul>
            <aside class="">

                <div role="form" class="pa4 black-80" lang="fr-FR" dir="ltr">

                  <form action="/" method="post" class="" novalidate="novalidate">

                    <div class="measure">
                        <span class="normal black-60">
                          <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="nom" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Nom (Obligatoire)">
                        </span>
                    </div>

                    <div class="measure">
                        <span class="normal black-60">
                          <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" name="email" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Email (Obligatoire)">
                        </span>
                    </div>

                    <div class="measure">
                        <span class="normal black-60">
                          <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="sujet" value="" size="40" class="" aria-required="true" aria-invalid="false" placeholder="Sujet (Obligatoire)">
                        </span>
                    </div>

                    <div class="measure">
                        <span class="normal black-60">
                          <textarea class="input-reset ba b--black-20 pa2 mb2 db w-100" name="message" cols="40" rows="10" class="" aria-invalid="false" placeholder="Votre Message"></textarea>
                        </span>
                    </div>

                    <p>
                      <input type="submit" value="Envoyer" class="">
                    </p>

                  </form>
                </div>

            </aside>
          </ul>
        </div>
    </div>
</div>
</section>
