<section class="fl w-100 ph3 pv2 pv4-ns tc cf count">
  <h3 class="section-title f3 f2-ns lh-copy fw6 ttu orange">Notre expertise</h3>
  <div class="fl w-25 pa1">
    <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660471/service1-1_xwvurk.jpg" class="br-100 h5 w5 dib ba orange bw2">
    <h3 class="f4 fw4 ttu">Gestion de projet</h3>
    <h5 class="f5 fw5 dark-gray">Nous vous accompagnons tout au long de votre projet…</h5>
  </div>
  <div class="fl w-25 pa1">
    <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660464/service2-1_uidhtd.jpg" class="br-100 h5 w5 dib ba orange bw2">
    <h3 class="f4 fw4 ttu">Production</h3>
    <h5 class="f5 fw5 dark-gray">Nous assurons la production en interne des différents lots, à savoir la menuiserie…</h5>
  </div>
  <div class="fl w-25 pa1">
    <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660489/conseil_gjkuqk.jpg" class="br-100 h5 w5 dib ba orange bw2">
    <h3 class="f4 fw4 ttu">Conseil</h3>
    <h5 class="f5 fw5 dark-gray">Nous assistons nos clients sur l’ensemble des décisions à prendre et garantissons…</h5>
  </div>
  <div class="fl w-25 pa1">
    <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660536/Work-area-sketch-color3-2_yo4mqh.jpg" class="br-100 h5 w5 dib ba orange bw2">
    <h3 class="f4 fw4 ttu">Design d'espaces</h3>
    <h5 class="f5 fw5 dark-gray">Nous concevons les espaces tertiaires les plus innovants…</h5>
  </div>
</section>
<div class="fl w-100">
  <img class="shadow-5" src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489658353/phototile_diigck.jpg" alt="service espacio">
</div>
