<section class="bg-light-gray section-for-who ph3 ph6-ns pv2 pv4-ns tc cf f5">
  <div class="fl w-100">
    <h3 class="section-title f3 f2-ns lh-copy fw2">سجل الآن لتستفيد من‫..</h3>
    <div class="fl w-100 w-30-ns tr-ns">
      <ul class="list pa0">
        <li class="bullet-list bullet-list-left green">
          <h4 class="fw6 mt0 dark-blue">فيديوهات عالية الجودة</h4>
          <p class="fw3 gray-blue">تعلم من خلال مشاهدة فيديوهات تعليمية باللغة العربية</p>
        </li>
        <li class="bullet-list bullet-list-left turquoise">
          <h4 class="fw6 mt0 dark-blue">مارس البرمجة</h4>
          <p class="fw3 gray-blue">تعلم لغة برمجة جديدة ومارسها بشكل مباشر على الموقع</p>
        </li>
        <li class="bullet-list bullet-list-left orange">
          <h4 class="fw6 mt0 dark-blue">مساعدة عند الطلب</h4>
          <p class="fw3 gray-blue">احصل على المساعدة من قبل المدرسين أولا بأول عند مواجهتك أي عقبات</p>
        </li>
      </ul>
    </div>
    <div class="fl w-100 w-40-ns pv5">
      <img src="/assets/images/home/features.svg" alt="{{ site.name }}">
    </div>
    <div class="fl w-100 w-30-ns tl-ns">
      <ul class="list pa0">
        <li class="bullet-list bullet-list-right purple">
          <h4 class="fw6 mt0 dark-blue">دروس تعليمية مبسطة</h4>
          <p class="fw3 gray-blue">تم تصميم الدروس على يد خبراء لتناسب جميع الراغبين بتعلم لغات البرمجة</p>
        </li>
        <li class="bullet-list bullet-list-right caribbean-green">
          <h4 class="fw6 mt0 dark-blue">مسارات مختلفة</h4>
          <p class="fw3 gray-blue">يحتوي الموقع على مسارات عديدة للغات برمجة حديثة ومختلفة</p>
        </li>
        <li class="bullet-list bullet-list-right cerise">
          <h4 class="fw6 mt0 dark-blue">شروحات باللغة العربية</h4>
          <p class="fw3 gray-blue">إيماناً بأهمية إثراء المحتوى العربي الرقمي صممنا جميع الدروس باللغة العربية</p>
        </li>
      </ul>
    </div>
    <div class="fl ma3 w-100">
      <a data-scroll href="#mce-EMAIL" class="link grow br-pill bg-caribbean-green white ttu f6 fw4 ph3 pv2">ابدأ الفترة التجريبية المجانية</a>
    </div>
  </div>
</section>