<section class="bg-dark-blue white section-for-who pa5 pa6-ns tc cf clip-bg">
  <div class="fl w-100">
    <img src="/assets/images/icons/people.png" alt="{{ site.name }}">
    <h3 class="section-title f3 f2-ns lh-copy fw2"><span class="caribbean-green">الموقع</span> مناسب لجميع المستويات</h3>
    <p class="light-gray f5 f4-ns fw3 lh-copy">
      اذا لم تكن صاحب خبرة سابقة في أي لغة برمجة أو تمتلك خبرة سابقة في لغة برمجة معينة وترغب بأن تتعلم لغة برمجة جديدة فهذا الموقع مصمم خصيصاً لتلبية احتياجاتك التعليمية‫ باللغة العربية.‬
    </p>
  </div>
</section>
<section class="bg-caribbean-green white section-caribbean-green pa4 pa4-ns tc cf clip-bg"></section>