<section class="ph3 ph6-ns pv4 pv6-ns tc cf">
  <div class="fl w-100">
    <h3 class="section-title f3 f2-ns lh-copy fw2">ILS NOUS ONT FAIT CONFIANCE</h3>
      <div class="cf pa2">
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/cfg_flzkvr.jpg" alt="logo cfg"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660290/hespress_zyfzxs.jpg" alt="logo hespress"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660291/logo_DB_k1ydsv.jpg" alt="logo db"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660292/rmf_og4e1z.jpg" alt="rmf"
          class="w-100 db black-10">
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660288/addidas_cygwen.png" alt="addidas"
          class="w-100 db black-10">
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660288/africinvest_tlvyuu.png" alt="logo africinvest"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660288/altran_x8dtyw.png" alt="logo altran"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/axa_w5kjsp.png" alt="logo axa"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/cih_yw5bck.png" alt="logo cih"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/creditdumaroc_ivdu6a.png" alt="logo cdm"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/dalaa_di0ews.png" alt="logo dalaa"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660289/derichbourg_e1scfp.png" alt="logo derichbourg"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660290/gdf_iz52ya.png" alt="logo gdf"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660290/grassavoye_xitetc.png" alt="logo grassavoye"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660290/Karen_hjogzt.png" alt="logo Karen"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660290/lafargeholcim_quxrwz.png" alt="logo lafarge holcim"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660291/lynx_olpcpo.png" alt="logo lynx"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660291/Maghrebail_kdjmrl.png" alt="logo Maghrebail"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660291/odassia_mj8ywx.png" alt="logo odassia"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660291/pernodrichard_gilunv.png" alt="logo pernod richard"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660292/phonegroup_gses26.png" alt="logo phone group"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660293/renaulttrucs_aaujy8.png" alt="logo renault trucs"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660292/royalmansour_e50xn5.png" alt="logo royal mansour"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660294/sds_xkhenz.png" alt="logo sds"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660294/SMDT-2_xslqpu.png" alt="logo smdt"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660293/sonasid_ktxcqp.png" alt="logo sonasid"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660293/vivo_q6vu08.png" alt="logo vivo"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660294/yamed_oga6lp.png" alt="logo yamed"
          class="w-100 db black-10"/>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa2">
          <img src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489660294/zippo_vu3wen.png" alt="logo zippo"
          class="w-100 db black-10">
        </div>
      </div>
  </div>
</section>
