<section class="fl w-100 ph3 pv2 pv4-ns tc cf">
  <h3 class="section-title f3 f2-ns lh-copy fw6 ttu orange">Notre équipe</h3>
  <div class="fl w-25 pa3">
    <a href="#"
      style="background-image: url(https://res.cloudinary.com/espaciomaroc/image/upload/v1489657888/omar-1_uhfedw.jpg);"
      class="bg-team link dt hide-child ba orange bw2 br2 cover">
      <span class="white dtc child bg-team-hover f5 bg-black-40 ph2 pv4">
        Esprit d’entraide, gestion participative des projets, bonne humeur, expertise et rigueur forgés à tous les niveaux. C’est sur ces principes que monsieur Berrada entraine ses équipes sur le chemin de la réussite.
      </span>
    </a>
    <h4 class="f4 tl ma0 pt2">Omar BERRADA</h4>
    <h5 class="f4 fw3 tl ma0 pt2 gray">Directeur Général & Fondateur</h5>
  </div>
  <div class="fl w-25 pa3">
    <a href="#"
      style="background-image: url(https://res.cloudinary.com/espaciomaroc/image/upload/v1489657889/harraz_zgw78e.jpg);"
      class="bg-team link dt hide-child ba orange bw2 br2 cover">
      <span class="white dtc child bg-team-hover f5 bg-black-40 ph2 pv4">
        Depuis les tous débuts d’ESPACIO , monsieur Harraz a su insuffler aux équipes terrain une motivation sans faille et une implication opérationnelle continue. Aujourd’hui c’est un modèle de leader à suivre tant par ses compétences techniques multiples que par son approche humaine du management des équipes qu’il encadre.
      </span>
    </a>
    <h4 class="f4 tl ma0 pt2">Mouhssine HARRAZ</h4>
    <h5 class="f4 fw3 tl ma0 pt2 gray">Directeur Technique</h5>
  </div>
  <div class="fl w-25 pa3">
    <a href="#"
      style="background-image: url(https://res.cloudinary.com/espaciomaroc/image/upload/v1489657888/nadia-1_wc4ldr.jpg);"
      class="bg-team link dt hide-child ba orange bw2 br2 cover">
      <span class="white dtc child bg-team-hover f5 bg-black-40 ph2 pv4">
        Esprit d’analyse et expertise Polytechnique sont les valeurs qui décrivent au mieux Mme Khairat. Elle apporte un vrai regard neuf et assure la COHESION d’équipe en faisant le lien entre tous les départements et en structurant notre entreprise florissante.
      </span>
    </a>
    <h4 class="f4 tl ma0 pt2">Nadia KHAIRAT</h4>
    <h5 class="f4 fw3 tl ma0 pt2 gray">Secrétaire Générale</h5>
  </div>
  <div class="fl w-25 pa3">
    <a href="#"
      style="background-image: url(http://res.cloudinary.com/espaciomaroc/image/upload/v1489657887/zineb-1_non4et.jpg);"
      class="bg-team link dt hide-child ba orange bw2 br2 cover">
      <span class="white dtc child bg-team-hover f5 bg-black-40 ph2 pv4">
        Dynamique et peps, grande capacité de travail, implication totale, Mme Afif est notre atout client qui réussit avec BRIO le challenge d’allier satisfaction client et gestion des opérations quotidiennes au sein d’ESPACIO.
      </span>
    </a>
    <h4 class="f4 tl ma0 pt2">Zineb AFIF</h4>
    <h5 class="f4 fw3 tl ma0 pt2 gray">Responsable des Opérations</h5>
  </div>
</section>
<div class="fl w-100">
  <img class="shadow-5" src="https://res.cloudinary.com/espaciomaroc/image/upload/v1489658351/footerEquipe_qnahbq.png">
</div>
