<section class="bg-white section-video ph3 ph6-ns pv4 pv6-ns tc cf">
  <div class="fl w-100">
    <h3 class="section-title f3 f2-ns lh-copy fw2">تعلم باللغة العربية مختلف لغات البرمجة على أعلى المستويات</h3>
    <p class="f5 fw2 lh-copy">
      إيماناً بأهمية تنمية مهارات البرمجة بالعالم العربي صممنا جميع الدروس باللغة العربية لكي ننشئ جيلا جديدا من المبرمجين العرب
    </p>
    <p class="f6 fw6 lh-copy">
      شاهد الفيديو لمعرفة المزيد
    </p>
    <div class="w-100">
      <script src="//fast.wistia.com/embed/medias/lwlmde084w.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_lwlmde084w popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
    </div>
  </div>
</section>