<header class="z-9999">
  <nav class="fixed db dt-l w-100 border-box pa3 ph5-l">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
      <img src="{{ site.logo }}" class="dib" alt="Espacio - Amenagement">
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      <a class="link dim dark-gray ttu f6 f5-l dib mr3 mr4-l" href="#" title="Home">L'entreprise</a>
      <a class="link dim dark-gray ttu f6 f5-l dib mr3 mr4-l" href="#" title="How it Works">L'équipe</a>
      <a class="link dim dark-gray ttu f6 f5-l dib mr3 mr4-l" href="#" title="Blog">Services</a>
      <a class="link dim dark-gray ttu f6 f5-l dib mr3 mr4-l" href="#" title="Press">Nos clients</a>
      <a class="link dim dark-gray ttu f6 f5-l dib" href="#" title="Contact">Contact</a>
    </div>
  </nav>
</header>