body {
  background-color: #fff;
  color: #222;
  font-size: 1vw;
  letter-spacing: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.flickity-page-dots .dot {
  background-image: url(/assets/images/icons/slider/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  margin: 0 2px;
  width: 20px;
  height: 20px;
}
.bg-team {
  display: block;
  height: 300px;
  width: 300px;
  .bg-team-hover {
    height: 228px;
  }
}

.count {
  counter-reset: my-badass-counter;
}

.count div::before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
  position: absolute;
  margin-top: 20px;
  // margin-left: 34px;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  background: #e18433;
  border: 3px solid #fff;
}

.logo-active:hover {
  opacity: 1;
}
